:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan/* (graphic design text)*/: hsl(167, 40%, 24%);
  --Dark-blue/*(photography text)*/: hsl(198, 62%, 26%);
  --Dark-moderate-cyan/*(footer)*/: hsl(168, 34%, 41%);
  --Dark-moderate-cyan-bg/*(footer)*/: hsla(168, 34%, 41%, 0.733);
  /* narurel */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Barlow", sans-serif;
}
li {
  list-style-type: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow-x: hidden;
}
.font-700 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}
.font-900 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.flex-ac {
  display: flex;
  align-items: center;
}
nav {
  height: 10vh;
  width: 100%;
  padding-inline: 30px;
  position: absolute;
  top: 0;
  img {
    height: 60%;
  }
  ul {
    margin-left: auto;
    height: 100%;
    li {
      margin-right: 10px;
      color: var(--White);
      cursor: pointer;
      &:last-child {
        margin-right: 0;
        color: var(--Dark-blue);
        padding: 5px 15px;
        border-radius: 20px;
        background-color: var(--White);
      }
    }
  }
  button {
    background-color: transparent;
    display: none;
  }
}
header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 170px;
  text-align: center;
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: 10px;
  }
}
.section-1 {
  height: 240vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  > * {
    background-size: 100% 100%;
  }
  .transform {
    background-image: url("../images/desktop/image-transform.jpg");
  }
  .stand-out {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  .graphic-desin {
    color: var(--Dark-desaturated-cyan);
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .photography {
    color: var(--Dark-blue);
    background-image: url("../images/desktop/image-photography.jpg");
  }
  .text-2 {
    --margin: 10px;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    padding-inline: 27%;
    * {
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .text-1 {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    justify-content: center;
    h1 {
      font-size: 2rem;
      margin-bottom: var(--margin);
    }
    p {
      margin-bottom: var(--margin);
      color: var(--Dark-grayish-blue);
    }
    button {
      background-color: transparent;
      width: max-content;
      text-transform: uppercase;
    }
  }
}
.section-2 {
  flex-direction: column;
  justify-content: center;
  padding-block: 100px;
  > p {
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 1rem;
    letter-spacing: 4px;
    color: var(--Dark-grayish-blue);
  }
  > div {
    display: flex;
    justify-content: center;
    text-align: center;
    .card {
      width: 28%;
      height: 300px;
      flex-direction: column;
      justify-content: space-between;
      > p {
        color: var(--Dark-blue);
        line-height: 25px;
        padding-inline: 20px;
      }
    }
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    > div {
      p:first-child {
        color: black;
      }
      p:last-child {
        color: var(--Dark-grayish-blue);
      }
    }
  }
}
.galerie {
  display: flex;
  > div {
    width: 25%;
    height: 70vh;
    background-size: 100% 100%;
    &:first-child {
      background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    }
    &:nth-child(2) {
      background-image: url("../images/desktop/image-gallery-orange.jpg");
    }
    &:nth-child(3) {
      background-image: url("../images/desktop/image-gallery-cone.jpg");
    }
    &:last-child {
      background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
    }
  }
}
footer {
  padding-block: 40px;
  height: 200px;
  background-color: var(--Dark-moderate-cyan-bg);
  color: var(--Dark-moderate-cyan);
  flex-direction: column;
  justify-content: space-between;
  ul {
    li:nth-child(2) {
      margin-inline: 10px;
    }
  }
  li:hover,
  i:hover {
    cursor: pointer;
    color: var(--White);
  }
  .contact {
    i {
      font-size: 24px;
      margin-inline: 10px;
    }
  }
}
